@model PasswordResetRequestModel

@{
    ViewData["Title"] = "PasswordReset";
    Layout = "~/Views/Shared/_LayoutForAuth.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Reset Password</div>

                <div class="card-body">
                    @if (ViewData.ContainsKey("ErrorMessage"))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["ErrorMessage"]
                        </div>
                    }

                    <form method="POST" asp-action="PasswordReset">
                        <input type="hidden" name="token" value="@Model.Token">

                        <div class="form-group row">
                            <label asp-for="Email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                            <div class="col-md-6">
                                <input asp-for="Email" type="email" class="form-control" required autofocus autocomplete="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input asp-for="Password" type="password" class="form-control" required autocomplete="new-password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PasswordConfirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                            <div class="col-md-6">
                                <input asp-for="PasswordConfirm" type="password" class="form-control" required autocomplete="new-password" />
                                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Reset Password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}