<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, min-scale=1, max-scale=1, shrink-to-fit=no">
    <meta name="description" content="Admin Template">
    <meta name="author" content="Jawad Ur Rehman">

    <title>eKb - eComm Integration</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/signin.css" />*@

</head>
<body class="text-center">
    @RenderBody()
</body>
</html>
