.btn-scroll-top {
	position: fixed;
	bottom: rem(30px);
	right: rem(30px);
	width: rem(40px);
	height: rem(40px);
	background: rgba($gray-800, .75);
	color: $white;
	text-align: center;
	text-decoration: none;
	z-index: $app-header-zindex;
	
	@include border-radius(36px);
	@include display-flex();
	@include flex-align(center);
	@include flex-justify-content(center);
	@include media-breakpoint-down(md) {
		bottom: rem(20px);
		right: rem(20px);
		z-index: $app-header-zindex;
	}
	
	&:hover {
		background: $component-active-bg;
		color: $component-active-color;
		text-decoration: none;
	}
}