
@{
    Layout = "~/Views/Shared/_LayoutForWeb.cshtml";
}



    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br />
            <h1 class="h4 mb-4 font-weight-normal">Backend API</h1>


        </div>
        <div class="col-md-3"></div>
    </div>
